{:paths ["src" "target" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        reagent {:mvn/version "0.9.1"}}
 :aliases {:dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}}}
